.below-navbar-fixed-top{
  margin-top: 50px;
}
.hover_cursor>.hover_changer{
  cursor: pointer;
}
.hover_cursor:hover{
  background-color: rgba(0,0,0,0.1);
}
/*.hover_cursor>.hover_changer:hover{
    background-color: rgba(0,0,0,0.15);
}*/
